RewriteEngine on
# jika request bukan file atau folder nyata, arahkan ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# kecuali Gii diizinkan tanpa index.php
RewriteRule . index.php